<html lang="en"><head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>

</head>

<body ng-app="swoosh">
  <nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Complaints</a></li>
          <li><a href="#">Compliment</a></li>
          <li><a href="#">Enquiry</a></li>
          <li><a href="#">Customer Request</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid" ng-controller="commentController as commentCtrl">
    <div class="row content" style="height: 100%">
      <div class="col-sm-2 sidenav hidden-xs" style="padding: 0px">
        <h2 id="logo">Logo</h2>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#"><img src="assets/complaint.png" class="icon" />Complaints</a></li>
          <li><a href="#"><img src="assets/compliment.png" class="icon" />Compliment</a></li>
          <li><a href="#"><img src="assets/inquiry.png" class="icon" />Enquiry</a></li>
          <li><a href="#"><img src="assets/request.png" class="icon" />Customer Request</a></li>
        </ul><br>
      </div>

      <div class="col-sm-2 hidden-xs" style="padding: 0px">
    </div>


   <div class="col-md-4" >
      <div class="row">
          <div class="card">

            <div class="dropdown subcategory-section">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{commentCtrl.selectedTab}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href ng-click="commentCtrl.selectTab('Baggage')">Baggage</a></li>
                <li><a href ng-click="commentCtrl.selectTab('Check-in')">Checkin</a></li>
                <li><a href ng-click="commentCtrl.selectTab('Inflight service')">In-flight Services and Safety</a></li>
                <li><a href ng-click="commentCtrl.selectTab('Payment')">Payment</a></li>
                <li><a href ng-click="commentCtrl.selectTab('Flight Schedule')">Flight Schedule and Safety</a></li>
              </ul>
            </div>


              <div class="divider"></div>
                <div style="padding: 10px">
                    <input type="checkbox" name=""> Select All 
                </div>
              <div class="divider"></div>


            <div ng-repeat="comment in commentCtrl.comments">
              <div class="entry" ng-class="{active:commentCtrl.isSelectedComment(comment)}" ng-click="commentCtrl.selectComment(comment)">
                  <p class="username">{{comment.Username}}</p>
                  <p>{{comment.Message}}</p>
              </div>
              <div class="divider"></div>
        
            </div>
      </div>
   </div>



  </div>
      <div class="col-md-6">
        <div class="card" style="margin-top: 10%" ng-show="commentCtrl.isEmpty()">
          <div class="entry single_detail">
              <h4>{{commentCtrl.selectedComment.Username}}</h4>
              <p class="caption">Facebook</p>
              <p class="status">
                {{commentCtrl.selectedComment.Message}}
              </p>
              <!-- <textarea id="reply_field" placeholder="Enter text here..."></textarea>                  -->
                  <div id="suggested_replies">
                      <p class="div_label">Select template</p>
                      <button class="response_btn">Yes, you don't. Here, have some candy with your travel tax and double ticket purchase.</button>
                      <button class="response_btn">If you have any commentsor concerns, please fill up the e-form in Air Asia website.</button>
                      <textarea id="reply_field"></textarea>
                      <button class="response_btn send" style="margin-top: 6px">Send reply</button>
                  </div>
          </div>
        </div>
        <div class="card" ng-hide="commentCtrl.isEmpty()">
          <p>No data found</p>
        </div>
    </div>  
</div>



</body>
</html>